@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@300;700;900&display=swap'); /*font-family: 'Oswald', sans-serif;*/

#container{
    width: 70%;
    background-color: white;
    margin: 10px auto;
    flex-wrap: wrap;
}
.info-bar{
    background-color: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40px;
    
}

.info-bar-text{
    text-transform: uppercase;
    font-size: 92.5%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.info-bar-icon{
    /*color: white;*/
    padding: 7px;
}

.info-person{
    padding-top: 0.2px;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 60px;
}
.info-person-photo{
    /*clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);*/
    width: 30%;
    padding-left: 20px;
}

.info-person-data{
    width: 50%;
    padding-right: 20px;
    text-align: center;
}

.photo{
    width: 200px; 
    height: 200px;
}

.person{
    font-family: 'Roboto', sans-serif;
}

.person-name{
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 2px;
    font-weight:normal;
    font-size: 40px;
}

.name{
    text-transform: capitalize;
    color: #81ecec;
}

.lastname{
    text-transform: uppercase;
    color: gray;
}

.degree{
    color: gray;
    font-size: 18px;
    
}

.info-general{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #0984e3;
}

.info-general-1{
    width: 55%;
    padding-right: 30px;
    padding-left: 30px;
}

.info-general-2{
    width: 45%;
    padding-right: 30px;
}

.title{
    text-align: justify;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    padding-bottom: 1px;
    height: 30px;
}

.title-name-1{
    text-transform: uppercase;
}

.text{
    color: gray;
    font-size: small;
    font-weight: lighter;
}


.deep-info{
    display:flex;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.deep-info-1{
    width: 40%;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: gray;
    
}

.deep-info-1-1{
    height: 150px;
}

.deep-info-1-2{
    padding-bottom: 10px;
}

/*.deep-info-1-3{
    display: flex;
}*/

.deep-info-1-4{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
  
}

.deep-info-1-5{
    width: 48%;
    /*border-right-style: solid;*/

}

.deep-info-1-6{
    padding-left: 20px;
}

.edu-skill-info{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.deep-info-2{
    width: 60%;
    padding-left: 10px;
}

.title-name-2{
    font-size: small;
    font-weight: lighter;
}

.title-name-3{
    font-style: italic;
}

.title-name-4{
    color:gray;
    font-size: medium;
}

.skill-info{
    display: flex;
    flex-direction: column;
}
.circles{
    display: flex;
    flex-direction: row;
}

.circle{
    width: 20px;
    height: 20px;
    /*-moz-border-radius: 50%;
    -webkit-border-radius: 50%;*/
    border-radius: 50%;
    background: #0984e3;
}

.space-btwn{
    width: 5px;
}

.container-skill{
    padding-bottom: 24px;
}

.additional-info{
    padding-bottom: 20px;
}








